@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Geom", sans-serif;
}

/* -------------------------------------------- VARIABLES -------------------------------------------- */
:root{
    --precio_botin_paquete_seis: 510;
    --precio_botin_paquete_seis: 432;

    --color_uno: #9C6644;
    --color_dos: #F4F3EE;
    --color_tres: #B5AFA9;
    --color_cuatro: #8A817C;
    --color_cinco: #463F3A;

    --tamaño_fuente_titulo: 50px;
    --tamaño_fuente_subtitulo: 35px;
    --tamaño_fuente_parrafo: 20px;

    --tamaño_fuente_titulo_producto: 12px;
    --tamaño_fuente_nombre_producto: 18px;
    --tamaño_fuente_precio_producto: 15px;
    
}

/* -------------------------------------------- HEADER -------------------------------------------- */

header{
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 100;
}

.container__header{
    max-width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    background-color: var(--color_dos);
}

.layout {
  width: 100%;

  display: flex;
  gap: 16px;
}

.logo{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    margin: 50px;
}

.logo img{
    width: 100px;
}

.menu__tienda{
    display: flex;
    align-items: center;
}

.menu__tienda nav{
    margin: 0px 0px;
}

.menu__tienda nav ul{
    display: flex;
}

.menu__tienda nav ul li{
    list-style: none;
    margin: 20px 20px;
}

.menu__tienda nav ul li a{
    color: black; 
    font-size: 16px;
    position: relative;
}

.menu__tienda nav ul li a:hover{
    color: var(--color_uno);
}

.icono__busqueda img{
    width: 20px;
}

.menu__usuario{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.menu__usuario nav{
    margin: 0px 30px;
}

.menu__usuario nav ul{
    display: flex;
}

.menu__usuario nav ul li{
    list-style: none;
    margin: 20px 20px;
}

.menu__usuario nav ul li a{
    color: black; 
    font-size: 16px; 
    position: relative;
}

.menu__usuario nav ul li a:hover{
    color: var(--color_uno);
}

.icono__usuario img{
    width: 20px;
}

/* -------------------------------------------- PORTADA DE INICIO -------------------------------------------- */

.container__portada{
    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--color_tres);
}

.portada{
    max-width: 80%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    padding: 0px 30px;
}

.text__portada{
    width: 100%;
    padding-right: 80px;
}

.text__portada h1{
    font-size: var(--tamaño_fuente_titulo);
    color: var(--color_cinco);
}

.text__portada h2{
    font-size: var(--tamaño_fuente_subtitulo);
    color: var(--color_cinco);
    margin-top: 10px;
}

.text__portada p{
    font-size: var(--tamaño_fuente_parrafo);
    color: var(--color_cinco);
    margin-top: 20px;
}

.btn__catalogo{
    display: block;
    margin-top: 20px;
    width: 200px;
    padding: 10px 20px;
    text-align: center;
    color: var(--color_dos);
    background: var(--color_uno);
    
    border: 2px solid transparent;
    cursor: pointer;
    transition: 300ms;
}

.btn__catalogo:hover{
    background: transparent;
    color: var(--color_uno);
    border: 2px solid var(--color_uno);
}

.image__portada{
    width: 100%;
}

.image__portada img{
    width: 500px;
    border-radius: 10px;
}

/* -------------------------------------------- PRODUCTOS -------------------------------------------- */

.layout__productos {
  width: 100%;

  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(5, 1fr);
}

/* Producto 1 */
.container__item_01{
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}

.img__item_01{
    position: relative;
}

.img__item_01 img{
    width: 100%;
}

.colores__item_01{
    position: absolute; 
    bottom: 10%; 
    left: 5%;
    display: grid;
    gap: 8px;

    opacity: 0;
    transition: opacity 300ms ease;
}

.paquete__item_01{
    position: absolute; 
    top: 10%; 
    right: 5%;
    display: grid;
    gap: 8px;

    opacity: 0;
    transition: opacity 300ms ease;
}

.img__item_01:hover .colores__item_01{
    opacity: 1; 
}

.img__item_01:hover .paquete__item_01{
    opacity: 1; 
}

.btn__color_cafe{
    height: 15px;
    width: 15px;
    border-radius: 10px;
    background-color: brown;
}

.btn__color_negro{
    height: 15px;
    width: 15px;
    border-radius: 10px;
    background-color: black;
}

.btn__paquete_seis, .btn__paquete_doce {
    height: 25px;
    width: 25px;
    border-radius: 8px;
    color: var(--color_cuatro);
    background-color: var(--color_dos);
    border: 2px solid var(--color_tres);
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.info__item_01 h1{
    font-size: var(--tamaño_fuente_titulo_producto);
    font-weight: 200;
    color: var(--color_tres);
    margin-top: 10px;
}

.info__item_01 h2{
    font-size: var(--tamaño_fuente_nombre_producto);
    color: var(--color_cinco);
    margin-top: 10px;
}

.info__item_01 p{
    font-size: var(--tamaño_fuente_precio_producto);
    color: var(--color_cinco);
    margin-top: 10px;
    
}

.seleccionar__cantidad_01{
    margin: auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.cantidad__control_01{
    margin-top: 10px;
    height: 30px; 
    width: 100px;
    background-color: var(--color_dos);
    border-radius: 12px;
    border: 1px solid var(--color_cuatro);
    display: flex; 
    justify-content: space-between; /* Distribuye los botones */
    align-items: center;
    overflow: hidden; /* Asegura que nada sobresalga */
}

.input__cantidad_01{
    width: 40px;
    text-align: center;
    background-color: transparent; 
    border: none;
    outline: none;
}

.btn__cantidad_menos_01, .btn__cantidad_mas_01{
    width: 20px;
    height: 100%;
    background-color: transparent;
    border: transparent;
}

.btn__cantidad_menos_01:hover, .btn__cantidad_mas_01:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Ligero cambio al pasar el cursor */
}

.btn__carrito_01{
    margin-top: 5px;
    background: transparent;
    border: 2px solid transparent;
}

.btn__carrito_01 img{
    width: 25px;
}